.dk-cube-container {
  height: 100%;
  &-items {
    &__wrapper {
      position: relative;
      &__item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #909399;
        cursor: pointer;
      }
    }
  }
  &__emptry {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 120px;
      color: #dcdfe6;
    }
  }
}
